    <div class="row row-offcanvas row-offcanvas-left">   
		        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
<ul class="nav flex-column pl-1 leftMenus">			
<li class="nav-item"><a class="nav-link" href="/dashboard"><strong><h1>Dashboard</h1></strong></a></li>
<li class="nav-item">
	<ul class="list-unstyled flex-column pl-3 collapse show" id="submenu1" aria-expanded="false">
		<li class="nav-item"><a class="nav-link" href="/book"><strong>Manage Books</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="/category"><strong>Category</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="/author"><strong>Author</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="/publisher"><strong>Publisher</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="/rack"><strong>Rack</strong></a></li>	
	</ul>
</li>
<li class="nav-item"><a class="nav-link" href="/issues"><strong>Issue Books</strong></a></li>
<li class="nav-item"><a class="nav-link" href="/users"><strong>Student List</strong></a></li>
<li class="nav-item"><a class="nav-link" href="/admin"><strong>Admin</strong></a></li>
<li class="nav-item"><a class="nav-link" href=""><strong>Logout</strong></a></li>
</ul>
</div>
      <div class="col-md-9 col-lg-10 main"> 
		<h3>Edit Issued Book</h3>
		<br>
        <form method="post" id="issuedBookForm" action="/issues/<%= @suazo.id %>/update ">
            <div class="modal-content">                
                <div class="modal-body">								
                    <div class="form-group">							
                        <label for="rack" class="control-label">Available Books</label>
                        <select name="book" id="book" class="form-control">
                            <% @books.each do |book| %>
                                <option value="<%= book.id %>" <%= 'selected="selected"' if book.authorid == @selected_authorid %>>
                                <%= book.name %>
                                </option>
                            <% end %>		
                        </select>
                    </div>	
                    
                    <div class="form-group">							
                        <label for="rack" class="control-label">User</label>
                        <select name="users" id="users" class="form-control">
                            <% @users.each do |user| %>
                                <option value="<%= user.id %>" <%= 'selected="selected"' if user.id == @selected_authorid %>>
                                <%= user.first_name %> <%= user.middle_name %> <%= user.last_name%>
                                </option>
                            <% end %>	
                        </select>
                    </div>	

                    <div class="form-group">							
							<label for="expected date" class="control-label">Issue Date</label>
							<input type="" step="1" name="issue_date" id="issue_date" autocomplete="off" value="<%= @suazo.issue_date_time %>" class="form-control"/>								
					</div>
                    
                    <div class="form-group">							
                        <label for="expected date" class="control-label">Expected Return Date</label>
                        <input type="" step="1" name="expected_return_date" id="expected_return_date" autocomplete="off" value="<%= @suazo.expected_date_time %>" class="form-control"/>								
                    </div>
                    
                    
                    <div class="form-group">							
                        <label for="expected date" class="control-label">Return Date</label>
                        <input type="datetime-local" step="1" name="return_date" id="return_date" autocomplete="off" value="<%= @suazo.return_date_time %>" class="form-control"/>								
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="status" class="control-label">Status</label>			
                        <select class="form-control" id="status" name="status"/>
                            <option value="">Select</option>							
                            <option value="Overdue" <% if @suazo.status == 'Overdue' %>selected="selected"<% end %>>Overdue</option>
                            <option value="Returned" <% if @suazo.status == 'Returned' %>selected="selected"<% end %>>Returned</option>
                            <option value="Not Return" <% if @suazo.status == 'Not Return' %>selected="selected"<% end %>>Not Return</option>										
                        </select>							
                    </div>				
                    
                                    
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="issueBookId" id="issueBookId" value="<%= @suazo.id %>" />					
                    <input type="hidden" name="action" id="action" value="updateIssueBook" />
                    <input type="submit" name="save" id="save" class="btn btn-info" value="Save" />                    
                </div>
            </div>
        </form>
    </div>
			      
        <hr>         
       </div>       
      </div>     
    </div>
	</div>	